<section class="content-header">
    <h1>{{pageName}}</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">{{Page.getTitle()}}</h3>
                </div>
                <div class="box-body">
                    <form class="form-validation" ng-submit="add_user(user_form)" role="form" name="user_form">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label>Name<code>*</code></label>
                                    <input type="text" class="form-control" placeholder="Please enter first name" name="name" ng-model="contact.name" />
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label>Gender<code>*</code></label>
                                    <label class="radio"><input type="radio"  name="sex">Male</label>
                                    <label class="radio"><input type="radio"  name="sex">Female</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label>Home Address<code>*</code></label>
                                    <input type="text" class="form-control" googleplace name="home_address" placeholder="Please enter home address" ng-model="contact.home_address"
                                    />
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label>Email<code>*</code></label>
                                    <input type="text" class="form-control" name="email" placeholder="Please enter email" ng-model="contact.email" />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12" ng-repeat="phone_number in contact.phone_numbers track by $index">
                            <div class="col-md-4">
                                <label>Number type</label>
                                <select name="metalType{{$index}}" ng-model="jewellery.prices[$index].metal_id" ng-options="obj.id as obj.name for obj in metal_type | filter : filterJewelleryMetalTypes($index)"
                                    class="form-control" ng-required="true">
                                    </select>
                                    <span style="color:red" ng-if="jewellery_form['metalType'+$index].$dirty && jewellery_form['metalType'+$index].$invalid || isSubmit">
                                <span ng-if="jewellery_form['metalType'+$index].$error.required">Please select metal type</span>
                                    </span>
                            </div>
                            <div class="col-md-4">
                                <label>Price</label>
                                <input type="text" class="form-control" ng-pattern="/^[0-9]{0,9}$/" ng-model="jewellery.prices[$index].price" name="price{{$index}}"
                                    placeholder="Enter price" ng-required="true">
                                    <span style="color:red" ng-if="jewellery_form['price'+$index].$dirty && jewellery_form['price'+$index].$invalid || isSubmit">
                                <span ng-if="jewellery_form['price'+$index].$error.required">Please enter price</span>
                                    <span ng-if="jewellery_form['price'+$index].$error.pattern">Please enter valid price</span>
                                    </span>
                            </div>
                            <div class="col-md-3">
                                <label>Supplier Currency</label>
                                <input type="text" class="form-control" ng-model="jewellery.prices[$index].supplier_currency" name="supplier_currency{{$index}}"
                                    placeholder="Enter supplier currency" ng-required="true">
                                    <span style="color:red" ng-if="jewellery_form['supplier_currency'+$index].$dirty && jewellery_form['supplier_currency'+$index].$invalid || isSubmit">
                                <span ng-if="jewellery_form['supplier_currency'+$index].$error.required">Please enter supplier currency</span>
                                    </span>
                            </div>
                            <div class="col-md-1" ng-hide="$first">
                                <label>&nbsp;</label>
                                <a class="form-control btn btn-info" ng-click="removeJewelleryPrice($index)"><i class="fa fa-trash"></i></a>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-info" ng-disabled="isSubmitted" align="center">{{btnName}}</button>
                        <a type="submit" ui-sref="dashboard" class="btn btn-info" align="center">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>